.article {
    p {
        font-size: 1rem;
        line-height: 2;
        margin-bottom: 1.25rem;
    }
}

figcaption {
    background-color: rgba($color: #000000, $alpha: 0.75);
    padding: .75rem 1rem;
    color: #fff;
    font-size: .75rem;
}

.tag {
    transition: all .2s;
    &:hover {
        background-color: #eee;
    }
}

.article blockquote {
    padding-right: 1rem;
    border-right: 3px solid black;
    font-size: 1rem;

    &::before {
        content: '\201C';
    }

    &::after {
        content: '\201D';
    }
}

.article ul {
    font-size: 1rem;

    li {
        margin-bottom: .5rem;
    }
}