.article {
    p {
        line-height: 2;
    }
}

figcaption {
    background-color: rgba($color: #000000, $alpha: 0.75);
    padding: .75rem 1rem;
    color: #fff;
    font-size: .75rem;
}

.tag {
    transition: all .2s;
    &:hover {
        background-color: #eee;
    }
}