.profile-wall {
    height: 200px;
}

.profile-wall-img {
    width: 100%;
    height: 100%;
}

.profile-title {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 0 1px #4c4c4c;
}

.accept-request {
    position: absolute;
    right: 15px;
}