.img-landing {
    min-width: 250px;
    width: 75%;
}

.direction-ltr {
    direction: ltr;
}

@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }

    .direction-sm-ltr {
        direction: ltr;
    }
}

@media (min-width: 768px) {
    .h-md-100 {
        height: 100%;
    }

    .direction-md-ltr {
        direction: ltr;
    }
}

@media (min-width: 992px) {
    .h-lg-100 {
        height: 100%;
    }

    .direction-lg-ltr {
        direction: ltr;
    }
}

@media (min-width: 1200px) {
    .h-xl-100 {
        height: 100%;
    }

    .direction-xl-ltr {
        direction: ltr;
    }
}